<nav class="navbar navbar-expand-lg menu">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="https://firebasestorage.googleapis.com/v0/b/tccreto.appspot.com/o/logo-dark.png?alt=media&token=1661590c-0952-43cb-b3cd-50478fad0f5d" alt="" height="80px" width="120px">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/mercancia">Administrar Mercancia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>