<div class="container ">
    <div class="row">
        <div class="col-12 col-md-6 card text-center mx-auto d-block">
            <form>
                <div class="row">
                    <div class="col-12 mt-3">
                        <h4 class="mb-3">Ingreso Mercancia</h4>
                        <hr>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">IUP</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                    <div id="emailHelp" class="form-text"></div>
                  </div>

                  <div class="mb-3">
                    <h4>Remitente: </h4>
                    <hr>
                    <label for="form-label">Tipo de remitente</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Tipo de cliente</option>
                        <option value="1">Empresa</option>
                        <option value="2">Persona Natural</option>
                      </select>
                  </div>

                  <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">

                                <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                  </svg></span>
                                <input type="text" class="form-control" placeholder="Identificacion" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                        </div>
                        <div class="col-6">

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                      </svg>
                                </span>
                                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                        </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Departamento</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col-6">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Municipio</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                              </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Direccion" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                  </div>
                  <div class="mb-3">
                    <h4>Destinatario: </h4>
                    <hr>
                    <label for="form-label">Tipo de remitente</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Tipo de cliente</option>
                        <option value="1">Empresa</option>
                        <option value="2">Persona Natural</option>
                      </select>
                  </div>

                  <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">

                                <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                  </svg></span>
                                <input type="text" class="form-control" placeholder="Identificacion" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                        </div>
                        <div class="col-6">

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                      </svg>
                                </span>
                                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                        </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Departamento</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col-6">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Municipio</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                              </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Direccion" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                  </div>

                  <div class="mb-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Municipio</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-warning">Registrar</button>
            </form>
        </div>
    </div>
</div>


